<div class="product">
    <img src="../../../../assets/product.svg" alt="product">
    <div class="product-desc">
        <h5 name="name" ngDefaultControl [(ngModel)]="name">{{name}}</h5>
        <table>
            <tbody>
                <tr>
                    <td>Weight:</td>
                    <td class="double-info">
                        <p name="size" ngDefaultControl [(ngModel)]="size">{{size}}</p>
                        <p name="unit" ngDefaultControl [(ngModel)]="unit">{{unit}}</p>
                    </td>
                </tr>
                <tr>
                    <td>Home Measure:</td>
                    <td class="double-info">
                        <p name="homeMeasureSize" ngDefaultControl [(ngModel)]="homeMeasureSize">{{homeMeasureSize}}</p>
                        <p name="homeMeasure" ngDefaultControl [(ngModel)]="homeMeasure">{{homeMeasure}}</p>

                    </td>
                </tr>
                <tr>
                    <td>Proteins:</td>
                    <td class="double-info">
                        <p>{{proteins}}</p>
                        <p>{{measureProts}}</p>
                    </td>
                </tr>
                <tr>
                    <td>Calories:</td>
                    <td class="double-info">
                        <p>{{calories}}</p>
                        <p>{{measureCals}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" (click)="onOpenDetails()">Details</button>
        <app-product-details [product]="product" (close)="onHandleDetails()" *ngIf="isDisplayed" [id]="idProduct"></app-product-details>

    </div>
</div>