.product-desc {
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D3F2E9;
    width: 26%;
    border-radius: 20px;
}

.product-desc h5 {
    color: #0A7B79;
    font-weight: 700;
}

table {
    width: 80%;
}

tr {
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
}

td {
    padding: 8px 0px;
    color: #0A7B79;
    font-weight: 600;
}

button {
    margin-top: 20px;
    padding: 8px 30px;
    background-color: #FEAD54;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}

.product {
    margin-top: 16%;
    position: relative;
}

img {
    width: 26%;
    bottom: 80%;
    right: 76.6%;
    position: absolute;
}