<div class="product">
    <img src="../../../../assets/product.svg" alt="product">
    <div class="product-desc">
        <h5>Name</h5>
        <table>
            <tbody>
                <tr>
                    <td>Weight:</td>
                    <td>100 g</td>
                </tr>
                <tr>
                    <td>Home Measure:</td>
                    <td>1 piece</td>
                </tr>
                <tr>
                    <td>Proteins:</td>
                    <td>20 g</td>
                </tr>
                <tr>
                    <td>Calories:</td>
                    <td>120</td>
                </tr>
            </tbody>
        </table>
        <button class="btn">Details</button>
    </div>
</div>