td:nth-child(2) {
    color: #F4A363;
}

td {
    border-bottom: 1px solid lightgrey;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
}

.recs {
    color: #0A7B79;
    background-color: #D3F2E9;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 20px;
}

.recs:hover {
    background-color: #0A7B79;
    color: #F4A363;
}

td:nth-child(3) {
    width: 20%;
}

td:first-child {
    width: 20%;
}

.form-control {
    border: none;
}

.btn-warning {
    border-radius: 10px;
}

td:last-child {
    width: 6%;
}

input {
    padding-left: 0;
}