<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container">
                <h1>ADD NEW PRODUCT</h1>
                <form class="parameters-form">
                    <div class="def-parameter">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="def-parameter">
                        <label for="weight" class="form-label">Weight</label>
                        <input type="number" class="form-control" id="weight" formControlName="weight">
                    </div>
                    <div class="def-parameter">
                        <label for="homeM" class="form-label">Home measure</label>
                        <input type="text" class="form-control" id="homeM" formControlName="homeMeasure">
                    </div>
                    <div class="def-parameter">
                        <label for="homeValue" class="form-label">Home measure value</label>
                        <input type="number" class="form-control" id="homeValue" formControlName="homeMeasureValue">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>