<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
        <div id="content-left" class="content-left">
            <h4>Available Products</h4>
            <form [formGroup]="searchProductInfo" class="searchInfo" (ngSubmit)="onSearchProductsInfo()">

                <input type="text" class="form-control" formControlName="namePr" placeholder="Search">
                <button class="btn" [disabled]="!searchProductInfo.valid">
                  <img src="../../../assets/searchGreen.svg" alt="search">
                </button>
            </form>
            <ul class="list-group productInfo">
                <li class="list-group-item" *ngFor="let pr of productsInfo"> <img src="../../../../assets/product.svg" alt="product">{{pr.name}}</li>
            </ul>
            <div class="pag">
                <nav aria-label="...">
                    <ul class="pagination pagination-xs">
                        <li class="page-item" *ngFor="let p of pages; let i = index;">
                            <a class="page-link" [class.page-a]="currentPage === i+1" tabindex="-1" (click)="onGetProducts(i+1)">{{i+1}}</a>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container">
                <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>
                <h1>ADD NEW MEAL</h1>
                <form class="meal-form" [formGroup]="addMealForm" (ngSubmit)="onAddMeal()">
                    <div class="def-parameter">
                        <label for="prName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="prName" formControlName="productName">
                    </div>
                    <h6>Ingredients</h6>
                    <form class="search" [formGroup]="searchProductForm" class="search" (ngSubmit)="onSearch()">
                        <input type="text" class="form-control" placeholder="Search to add ingredient" formControlName="name">
                        <button class="btn" [disabled]="!searchProductForm.valid">
                            +
                           </button>

                    </form>
                    <div *ngFor="let p of products" class="ingredients">
                        <app-meal-product-details [product]="p" (close)="onHandleDetails()" *ngIf="isDisplayed" [id]="idProduct"></app-meal-product-details>
                        <div class="ingr">
                            <div class="new-pr">
                                <p>{{p.name}}</p>
                                <input type="number" min=0.05 max=3000 class="form-control amount" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="p.size">
                                <p style="margin-left: 2%;">({{p.unit}})</p>
                            </div>
                            <div class="buttons"> <button class="btn details" type="button" (click)="onOpenDetails()">Details</button>
                                <button class="btn btn-danger" (click)="onDelete(p)">-</button></div>
                        </div>

                    </div>
                    <div class="def-parameter desc">
                        <label for="description" class="form-label">Description/Directions</label>
                        <textarea autosize class="form-control" id="description" formControlName="desc"></textarea>
                    </div>
                    <div class="def-parameter">
                        <label for="url" class="form-label">Cooking URL</label>
                        <input type="text" class="form-control" for="url" formControlName="url">
                    </div>
                    <button class="btn btn-success" [disabled]="!addMealForm.valid">Add New Meal</button>
                </form>
            </div>

        </div>
    </div>
</div>