<div class="container">
    <h1>PRODUCT BASE</h1>
    <div class="product-header">
        <form class="search">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn">
                              <img src="../../../assets/searchGreen.svg" alt="search">
                           </button>
        </form>
        <button class="btn add-product"><a  routerLink="/doctor/add-product">Add New Product</a></button>
    </div>
    <div class="items">
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
    </div>


</div>