.sticky-left-background,
.sticky-right {
    border-radius: 0;
}

.sticky-left-background {
    background-attachment: fixed;
    z-index: 1;
    overflow: scroll;
    background-size: 40%;
    background-position: 0;
}

.content-left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    position: relative;
    margin-bottom: 50px;
}

app-patients-item {
    margin-bottom: 10px;
    width: 55%;
    align-self: center;
    cursor: pointer;
}

app-patients-item:hover,
.add-diet:hover {
    transform: scale(1.1) perspective(1px);
}

h4 {
    margin-top: 80px;
    margin-bottom: 5%;
    text-align: center;
    color: #D3F2E9;
    font-weight: 400;
}

h1 {
    margin-top: -20px;
}

h6,
label {
    font-weight: 600;
    margin-bottom: 2%;
    font-size: 14px;
    color: #0A7B79;
}

.sticky-right {
    overflow-y: scroll;
    padding-bottom: 8%;
}

.content {
    margin-top: 4%;
    width: 86%;
}

.active-user {
    border-radius: 50px;
    border: 10px solid #FEAD54;
}

.not-active-user {
    border: none;
}

.pag {
    margin-top: 3%;
}

.page-link.page-a {
    border: none;
    background-color: #FEAD54;
    color: white;
}

.page-link {
    border: none;
    color: #0A7B79
}

.search {
    display: flex;
    width: 68%;
    margin-bottom: 16px;
    justify-content: space-between;
}

.search input {
    width: 88%;
    height: 42px;
}

.search button,
.search-sup button {
    background-color: #D3F2E9;
}

.search button:hover,
.search-sup button:hover {
    background-color: #FEAD54;
}

.search img {
    padding-bottom: 2px;
}

.diet-input input {
    border: none;
    padding-left: 0;
    border-bottom: 1px solid #D0D1D5;
    border-radius: 0;
}

.diet-input label {
    font-size: 14px;
    color: #0A7B79;
}

.diet-input {
    margin-top: 2%;
}

.flex-diet {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.flex-diet div {
    width: 35%;
}

.flex-diet input {
    border-radius: 12px;
}

.search-sup {
    margin-top: 2%;
}

.search-sup-post {
    display: flex;
    justify-content: space-between;
}

.search-sup input {
    width: 90%;
}

.sup-full {
    margin-top: 2%;
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
    align-items: flex-start;
}

.new-sup {
    width: 90%;
}

.new-sup p {
    font-size: 16px;
    color: black;
}

.new-sup label {
    font-size: 16px;
    color: #FEAD54;
}

.add-diet {
    border-radius: 10px;
    float: right;
    background-color: #0A7B79;
    color: #FEAD54;
    padding: 8px 20px;
    margin-top: 5%;
}

.new-sup button {
    border-radius: 10px;
    background-color: #0A7B79;
    color: #FEAD54;
    padding: 8px 20px;
    margin-top: 2%;
}

.instr {
    margin-top: 2%;
}

.instr label {
    color: #FEAD54;
    font-size: 16px;
}