<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container" id="contentReport" #contentReport>

                <div class="row report">
                    <h1>Personal Info</h1>
                    <div class="getting-started-table">
                        <h6>Personal Data and body measurements </h6>

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Date of Survey:</th>
                                    <td name="dos" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="dateOfSurvey">{{dateOfSurvey}}</td>
                                </tr>
                                <tr>
                                    <th>First Name:</th>
                                    <td name="firstName" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="firstName">{{firstName}}</td>
                                </tr>
                                <tr>
                                    <th>Last Name:</th>
                                    <td name="lastName" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="lastName">{{lastName}}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td name="email" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="email">{{email}}</td>
                                </tr>
                                <tr>
                                    <th>Pesel:</th>
                                    <td name="pesel" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="pesel">{{pesel}}</td>
                                </tr>

                                <tr>
                                    <th>Address: </th>
                                    <td name="address" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="address">{{address}}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number: </th>
                                    <td name="phoneNumber" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="phoneNumber">{{phoneNumber}}</td>

                                </tr>
                                <tr>
                                    <th>Gender: </th>
                                    <td name="gender" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="gender">{{gender}}</td>

                                </tr>
                                <tr>
                                    <th>Age:</th>
                                    <td name="age" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="age">{{age}}</td>

                                </tr>
                                <tr>
                                    <th>Weight:</th>
                                    <td name="weight" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="weight">{{weight}}</td>

                                </tr>
                                <tr>
                                    <th>Height:</th>
                                    <td name="height" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="height">{{height}}</td>

                                </tr>
                                <tr>
                                    <th class="calculated">MC (ideal body weight)</th>
                                    <td name="idealBodyWeight" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="idealBodyWeight">{{idealBodyWeight}}</td>
                                </tr>
                                <tr>
                                    <th class="calculated">MC (modified formula):</th>
                                    <td ngDefaultControl name="modifiedFormula" [ngModelOptions]="{standalone: true}" [(ngModel)]="modifiedFormula">{{modifiedFormula}}</td>

                                </tr>
                                <tr>
                                    <th class="calculated">BMR (basic metabolism):</th>
                                    <td>{{bmr}}</td>

                                </tr>
                                <tr>
                                    <th>Waist Circumference</th>
                                    <td name="hipCircumference" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="waistCircumference">{{waistCircumference}}</td>
                                </tr>
                                <tr>
                                    <th>Hip Circumference</th>
                                    <td name="hipCircumference" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="hipCircumference">{{hipCircumference}}</td>

                                </tr>
                                <tr>
                                    <th class="calculated">WHR (waist-hip ratio):</th>
                                    <td ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="waistHipRatio">{{waistHipRatio}}</td>

                                </tr>
                                <tr>
                                    <th class="filledByDoc">Corrected value:</th>
                                    <td>{{correctedValue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="problems">
                        <label for="goal" class="form-label">Consultation goal, Main problems</label>
                        <textarea disabled id="goal" cols="30" rows="10" class="form-control" ngDefaultControl name="consultationGoal" [ngModelOptions]="{standalone: true}" [(ngModel)]="consultationGoal">{{consultationGoal}}</textarea>
                    </div>
                </div>
                <div class="chronic-diseases-table">
                    <h6>Chronic Diseases</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Diabetes</th>
                                <th>Hypertension</th>
                                <th>Insulin Resistance</th>
                                <th>Hypothyroidism</th>
                                <th>Intestinal Diseases</th>
                            </tr>
                            <tr>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="diabetes" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="hypertension" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="insulinResistance" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="hypothyroidism" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="intestinalDiseases" disabled>
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="other-diseases">
                    <label for="otherD" class="form-label">Other Diseases</label>
                    <textarea disabled id="otherD" cols="30" rows="2" class="form-control" name="otherDiseases" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="otherDiseases">{{otherDiseases}}</textarea>
                </div>
                <div class="medics">
                    <label for="meds" class="form-label">Medications</label>
                    <textarea disabled id="meds" cols="30" rows="2" class="form-control" [ngModelOptions]="{standalone: true}" ngDefaultControl name="medications" [(ngModel)]="medications">{{medications}}</textarea>
                </div>
                <div class="suppls">
                    <label for="suppl" class="form-label">Supplements</label>
                    <textarea disabled id="suppl" cols="30" rows="2" class="form-control" name="dietSupplements" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="dietSupplements">{{dietSupplements}}</textarea>
                </div>
                <div class="getUpAt">
                    <label for="getUpAt" class="form-label">Get Up Interval:</label>
                    <input disabled type="text" class="form-control" id="getUpAt" ngDefaultControl [(ngModel)]="getUpInterval" [ngModelOptions]="{standalone: true}" value="{{getUpInterval}}">


                </div>
                <div class="sleepAt">
                    <label for="sleepAt" class="form-label">Goes to Sleep at Interval:</label>
                    <input disabled type="text" class="form-control" id="sleepAt" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="goToSleepInterval" value="{{goToSleepInterval}}">


                </div>
                <div class="avgSleep">
                    <label for="avgSleep" class="form-label">Average Sleep Hours:</label>
                    <input disabled type="number" class="form-control" id="avgSleep" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="avgSleep" value="{{avgSleep}}">


                </div>
                <div class="sportPerDay">
                    <label for="sportPerDay" class="form-label">Sport per day (minutes):</label>
                    <input disabled type="number" class="form-control" id="sportPerDay" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="sportsPerDay" value="{{sportsPerDay}}">
                </div>
                <div class="sportPerWeek">
                    <label for="sportPerWeek" class="form-label">Sport per week for (minutes):</label>
                    <input disabled type="number" class="form-control" id="sportPerWeek" ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="sportsPerWeek" value="{{sportsPerWeek}}">

                </div>
                <div class="regularWalk">
                    <label for="regularWalk" class="form-label">Regular Walk</label>
                    <label class="check"> 
                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="regularWalk" disabled>
                            <span></span>
                    </label>
                </div>
                <div class="sportText">
                    <label for="sport" class="form-label">Sport Types:</label>
                    <textarea disabled id="sport" cols="30" rows="3" class="form-control" ngDefaultControl [(ngModel)]="sportTypes" [ngModelOptions]="{standalone: true}" value="{{sportTypes}}"></textarea>
                </div>
                <div class="drinks-table">
                    <h6>Drinks:</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Water</th>
                                <th>Coffee</th>
                                <th>Tea</th>
                                <th>Juice</th>
                                <th>Soda / Energy</th>
                            </tr>
                            <tr>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="waterGlasses" ngDefaultControl> {{waterGlasses}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="coffeeGlasses" ngDefaultControl> {{coffeeGlasses}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="teaGlasses" ngDefaultControl> {{teaGlasses}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="juiceGlasses" ngDefaultControl> {{juiceGlasses}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="energyDrinkGlasses" ngDefaultControl> {{energyDrinkGlasses}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alco">
                    <label for="alco" class="form-label">Alcohol:</label>
                    <textarea disabled id="alco" cols="30" rows="2" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="alcohol" ngDefaultControl>{{alcohol}}</textarea>
                </div>
                <div class="cigs">
                    <label for="cigs" class="form-label">Cigarettes per day:</label>
                    <input disabled type="number" class="form-control" id="sigs" [ngModelOptions]="{standalone: true}" [(ngModel)]="cigs" ngDefaultControl value="{{cigs}}">
                </div>
                <div class="meals-table">
                    <h6>Meal Takes:</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Breakfast</th>
                                <th>Second Breakfast</th>
                                <th>Lunch</th>
                                <th>Afternoon Snack</th>
                                <th>Dinner</th>
                            </tr>
                            <tr>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="breakfast" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="secondBreakfast" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="lunch" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="afternoonMeal" disabled>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="dinner" disabled>
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fav-food">
                    <label for="fav" class="form-label">Favourite food:</label>
                    <textarea disabled id="fav" cols="30" rows="4" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="favFood" ngDefaultControl>{{favFood}}</textarea>
                </div>
                <div class="disliked-food">
                    <label for="unfav" class="form-label">Disliked food:</label>
                    <textarea disabled id="unfav" cols="30" rows="4" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="notFavFood" ngDefaultControl>{{notFavFood}}</textarea>
                </div>
                <div class="foodSens">
                    <h6>Food Allergies and Hypersensetivity</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Allergies</th>
                                <td [(ngModel)]="alergieProds" [ngModelOptions]="{standalone: true}" ngDefaultControl>{{alergieProds}}</td>
                            </tr>
                            <tr>
                                <th>Hypersensetivities</th>
                                <td [(ngModel)]="hypersensProds" [ngModelOptions]="{standalone: true}" ngDefaultControl>{{hypersensProds}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="meals-desc-table">
                    <h6>Daily Meals Description</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Meal №:</th>
                                <th>Time</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>Meal 1:</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="atTime1" ngDefaultControl>{{atTime1}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="foodToEat1" ngDefaultControl>{{foodToEat1}}</td>
                            </tr>
                            <tr>
                                <td>Meal 2:</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="atTime2" ngDefaultControl>{{atTime2}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="foodToEat2" ngDefaultControl>{{foodToEat2}}</td>
                            </tr>
                            <tr>
                                <td>Meal 3:</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="atTime3" ngDefaultControl>{{atTime3}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="foodToEat3" ngDefaultControl>{{foodToEat3}}</td>
                            </tr>
                            <tr>
                                <td>Meal 4:</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="atTime4" ngDefaultControl>{{atTime4}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="foodToEat4" ngDefaultControl>{{foodToEat4}}</td>
                            </tr>

                            <tr>
                                <td>Meal 5: </td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="atTime5" ngDefaultControl>{{atTime5}}</td>
                                <td [ngModelOptions]="{standalone: true}" [(ngModel)]="foodToEat5" ngDefaultControl>{{foodToEat5}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="betweenMealsFood">
                    <label for="bmf" class="form-label">Food between meals:</label>
                    <textarea disabled id="bmf" cols="30" rows="3" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="foodBetweenMeals" ngDefaultControl>{{foodBetweenMeals}}></textarea>
                </div>
                <div class="cpm">
                    <h6>Physical activity and CPM</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="filledByDoc ">Physical activity k (PAL):</th>
                                <td>{{pal}}</td>
                            </tr>
                            <tr>
                                <th class="calculated">CPM</th>
                                <td>{{cpm}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <button class="btn generate-pdf" type="button" (click)="generatePDF()">Generate PDF report</button>
                </div>

            </div>

        </div>

    </div>

</div>