<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
        <div *ngIf="info" id="content-left" class="content-left">
            <h4>Patient's Info</h4>
            <div class="info-patient">
                <div class="def">
                    <label class="form-label">Full Name, Age</label>
                    <input type="text" class="form-control" disabled value="{{info.firstName}} {{info.lastName}}, {{info.age}}">
                </div>
                <div class="def">
                    <label class="form-label">Email, Phone Number</label>
                    <input type="text" class="form-control" disabled value="{{info.email}}, {{info.phoneNumber}}">
                </div>
                <div class="def">
                    <label class="form-label">PESEL</label>
                    <input type="text" class="form-control" disabled value="{{info.pesel}}">
                </div>
                <div class="def">
                    <label class="form-label">k (PAL)</label>
                    <input type="text" class="form-control" disabled value="{{info.pal}}">
                </div>
                <div class="def">
                    <label class="form-label">Main Problems</label>
                    <textarea type="text" class="form-control" autosize disabled>{{info.mainProblems}}</textarea>
                </div>

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Diabetes</th>
                            <td>
                                <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="info.diabetes" disabled>
                                        <span></span>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Hypertension</th>
                            <td>
                                <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="info.hypertension" disabled>
                                        <span></span>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Insulin Resistance</th>
                            <td>
                                <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="info.insulinResistance" disabled>
                                        <span></span>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Hypothyroidism</th>
                            <td>
                                <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="info.hypothyroidism" disabled>
                                        <span></span>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Intestinal Diseases</th>
                            <td>
                                <label class="check"> 
                                        <input type="checkbox" class="checkb" id="diabetes" autocomplete="off" [checked]="info.intestinalDiseases" disabled>
                                        <span></span>
                                    </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="def">
                    <label class="form-label">Other Diseases</label>
                    <textarea type="text" class="form-control" autosize disabled>{{info.otherDiseases}}</textarea>
                </div>
                <div class="def">
                    <label class="form-label">Food Hypersensetivity</label>
                    <input type="text" class="form-control" disabled value="{{info.hypersensProds}}">
                </div>
                <div class="def">
                    <label class="form-label">Food Allergies</label>
                    <input type="text" class="form-control" disabled value="{{info.alergieProds}}">
                </div>
                <div class="def">
                    <label class="form-label">Favorite Food</label>
                    <textarea type="text" class="form-control" autosize disabled>{{info.favFood}}</textarea>
                </div>
                <div class="def">
                    <label class="form-label">Disliked Food</label>
                    <textarea type="text" class="form-control" autosize disabled>{{info.notFavFood}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-right">
        <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>

        <h1 style="color: rgb(240, 84, 37); margin-left:20%; margin-top:10%" *ngIf="errorDiet">{{errorDiet}}</h1>
        <h1 style="color:#FEAD54; margin-left:20%; margin-top:10%" *ngIf="isFinished">Diet is fully filled!
            <a style="color: #0A7B79;" href="/doctor/patients">Return to Patients</a>
        </h1>

        <div *ngIf="!errorDiet && !isFinished" class="content">
            <h1>DIET DETAILS</h1>
            <h2 *ngIf="info" style="padding-bottom: 0; margin-top:1.5%;"><em>{{info.selectedDiet}}</em></h2>
            <div class="days-container">
                <h2>Day {{currentDay}}/{{days}}</h2>
            </div>
            <div class="meal-container">
                <div class="meals">
                    <button *ngFor="let meal of totalMeals; let i = index" [class.meal-b]="currentMeal === i+1" tabindex="-1" type="button" class="btn">Meal {{i+1}}</button>
                </div>
                <div class="meal-details">
                    <form *ngIf="!isAddDay" [formGroup]="addDayForm">
                        <label for="time" class="form-label">Time</label>
                        <input type="time" class="form-control time" id="time" formControlName="time">
                    </form>
                    <form *ngIf="!isAddDay" class="search-form" [formGroup]="searchMealForm" (ngSubmit)="onSearch()">
                        <label class="form-label">Meal</label>
                        <div class="search">
                            <input class="form-control" list="allmeals" name="allmeals" id="mealautocomplete" autocomplete="off" placeholder="Type to search..." formControlName="name">
                            <datalist id="allmeals">
                         <option *ngFor="let p of allMeals" style="width:100%">{{p.mealName}}</option>
                    </datalist>
                            <button class="btn" [disabled]="!searchMealForm.valid || !searchEnabled">+</button>
                        </div>
                    </form>
                    <div *ngIf="meal" style="margin-top: 4%;">
                        <label for="desc" class="form-label">Description</label>
                        <input type="text" class="form-control" disabled value="{{meal.description}}">
                    </div>
                    <div *ngIf="meal" style="margin-top: 4%;">
                        <h4><a class="link-success" href="{{meal.cookingURL}}">Cooking URL</a></h4>
                    </div>
                    <div *ngIf="products.length>0" class="ingredients">
                        <div *ngIf="isLoading" style="text-align: center;">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                        <label class="form-label">Ingredients</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ingredient</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Home Measure</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let p of products; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.calculatedRecipeAmount | roundNumberAssignMeals}} {{p.unit}}</td>
                                    <td>{{p.homeMeasureSize | roundNumberAssignMeals}} {{p.homeMeasure}}</td>
                                    <td>
                                        <p *ngFor="let param of p.params;">{{param.paramName}}: {{param.calculatedParamSize | roundNumberAssignMeals}} {{param.paramMeasureUnit}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <button *ngIf="mealAdded" class="btn btn-danger" type="button" (click)="onRemoveMeal()">Remove Meal</button>
                        <div class="buttons-right">
                            <button class="add-meal btn" (click)="onAddMeal()" [disabled]="!addDayForm.valid || !mealAdded" type="button">Add Meal</button>
                            <button class="add-day btn" *ngIf="isAddDay" (click)="onAssignMeals()" [disabled]="!currentDay">Fill Day</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>