<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
        <div id="content-left" class="content-left">
            <h4 class="meal-head">Available Meals</h4>
            <form [formGroup]="searchMealsInfo" class="searchInfo" (ngSubmit)="onSearchMealsInfo()">

                <input type="text" class="form-control" formControlName="nameMl" placeholder="Search">
                <button class="btn" [disabled]="!searchMealsInfo.valid">
                  <img src="../../../assets/searchGreen.svg" alt="search">
                </button>
            </form>
            <ul class="list-group mealInfo">
                <li class="list-group-item" *ngFor="let ml of mealsInfo"> <img src="../../../../assets/meal-icon.svg" alt="meal">{{ml.nameOfMeal}}</li>
            </ul>
            <div class="pag">
                <nav aria-label="...">
                    <ul class="pagination pagination-xs">
                        <li class="page-item" *ngFor="let p of pages; let i = index;">
                            <a class="page-link" [class.page-a]="currentPage === i+1" tabindex="-1" (click)="onGetMeals(i+1)">{{i+1}}</a>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="sticky-right">
        <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>

        <h1 style="color: rgb(240, 84, 37); margin-left:20%; margin-top:10%" *ngIf="errorDiet">{{errorDiet}}</h1>
        <h1 style="color:#FEAD54; margin-left:20%; margin-top:10%" *ngIf="isFinished">Diet is fully filled!
            <a style="color: #0A7B79;" href="/doctor/patients">Return to Patients</a>
        </h1>

        <div *ngIf="!errorDiet && !isFinished" class="content">
            <h1>DIET DETAILS</h1>
            <div class="days-container">
                <h2>Day {{currentDay}}/{{days}}</h2>
            </div>
            <div class="meal-container">
                <div class="meals">
                    <button *ngFor="let meal of totalMeals; let i = index" [class.meal-b]="currentMeal === i+1" tabindex="-1" type="button" class="btn">Meal {{i+1}}</button>
                </div>
                <div class="meal-details">
                    <form [formGroup]="addDayForm">
                        <label for="time" class="form-label">Time</label>
                        <input type="time" class="form-control time" id="time" formControlName="time">
                    </form>
                    <form class="search-form" [formGroup]="searchMealForm" (ngSubmit)="onSearch()">
                        <label class="form-label">Meal</label>
                        <div class="search">
                            <input type="text" class="form-control" placeholder="Search" formControlName="name">
                            <button class="btn" [disabled]="!searchMealForm.valid || !searchEnabled">+</button>
                        </div>
                    </form>
                    <div *ngIf="meal" style="margin-top: 4%;">
                        <label for="desc" class="form-label">Description</label>
                        <input type="text" class="form-control" disabled value="{{meal.description}}">
                    </div>
                    <div *ngIf="meal" style="margin-top: 4%;">
                        <h4><a class="link-success" href="{{meal.cookingURL}}">Cooking URL</a></h4>
                    </div>
                    <div *ngIf="products.length>0" class="ingredients">
                        <div *ngIf="isLoading" style="text-align: center;">
                            <app-loading-spinner></app-loading-spinner>
                        </div>
                        <label class="form-label">Ingredients</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ingredient</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Home Measure</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let p of products; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.amount}} {{p.unit}}</td>
                                    <td>{{p.homeMeasureSize}} {{p.homeMeasure}}</td>
                                    <td>
                                        <p *ngFor="let param of recipeParamsByProduct[i]?.parameters;">{{param.name}}: {{param.amount}} {{param.measureUnit}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <button *ngIf="mealAdded" class="btn btn-danger" type="button" (click)="onRemoveMeal()">Remove Meal</button>
                        <div class="buttons-right">
                            <button class="add-meal btn" (click)="onAddMeal()" [disabled]="!addDayForm.valid || !mealAdded" type="button">Add Meal</button>
                            <button class="add-day btn" *ngIf="isAddDay" (click)="onAssignMeals()" [disabled]="!currentDay">Fill Day</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>