<div class="container-w-background container-fluid">
    <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>
    <div class="sticky-left-background">
        <div id="content-left" class="content-left">
            <h4 id="myHeader">Patients</h4>
            <form [formGroup]="searchUsersForm" class="search" (ngSubmit)="onSearch()">
                <input class="form-control" list="allpatients" name="allpatients" id="mealautocomplete" autocomplete="off" placeholder="Type to search..." formControlName="name">
                <datalist id="allpatients">
                         <option *ngFor="let p of allPatients" style="width:100%">{{p.firstName}} {{p.lastName}}</option>
                    </datalist>
                <button class="btn" [disabled]="!searchUsersForm.valid">
                  <img src="../../../assets/searchGreen.svg" alt="search">
                </button>
            </form>
            <app-patients-item [ngClass]="clicked=== i ? 'active-user': not-active-user" *ngFor="let patient of patients; let i = index;" [index]="i" [patient]="patient" (click)="setIdUser(i)"></app-patients-item>
            <div class="pag">
                <nav aria-label="...">
                    <ul class="pagination pagination-xs">
                        <li class="page-item" *ngFor="let p of pages; let i = index;">
                            <a class="page-link" [class.page-a]="currentPage === i+1" tabindex="-1" (click)="onGetPatients(i+1)">{{i+1}}</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="sticky-right">
        <div class="content">
            <h1>NOTES</h1>
            <div *ngIf="info" class="patient-info">
                <table class="table table-borderless init-info">
                    <tbody>
                        <tr>
                            <th>Full Name, Age</th>
                            <td>{{info.firstName}} {{info.lastName}}, {{info.age}}</td>
                        </tr>
                        <tr>
                            <th>PESEL</th>
                            <td>{{info.pesel}}</td>

                        </tr>
                        <tr *ngIf="info.currentDietName">
                            <th>Newest Diet</th>
                            <td>{{info.currentDietName}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="notes" #notesCont>
                <app-notes-item *ngFor="let note of notes; let i = index;" [index]="i" [note]="note"></app-notes-item>
            </div>
            <form [formGroup]="sendNoteForm" class="note-text" (ngSubmit)="onPostNote()">
                <textarea formControlName="note" type="text" class="form-control" placeholder="write your note..." autosize></textarea>
                <button class="btn" [disabled]="!sendNoteForm.valid || !userSelected"><img src="../../../assets/send-button.svg" alt="send note"></button>
            </form>
        </div>
    </div>
</div>