<div class="backdrop" (click)="onClose()"></div>
<div *ngIf="!isEdit" class="alert-box">
    <div class="header-detail">
        <div class="head-name"> <img src="../../../../assets/product.svg" alt="product-logo">
            <h2>{{product.name}}</h2>
        </div>
        <div class="alert-box-actions">
            <button class="btn btn-warning" style="margin-right: 10px;" (click)="openEdit()">Edit</button>
            <button class="btn btn-danger" (click)="onClose()">X</button>
        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Weight: </th>
                <td>{{product.size}} {{product.unit}}</td>
            </tr>
            <tr>
                <th>Home Measure: </th>
                <td>{{product.homeMeasureSize}} {{product.homeMeasure}}</td>
            </tr>
            <tr class="params" *ngFor="let parameter of parameters">
                <th>{{parameter.name}}:</th>
                <td>{{parameter.amount}} {{parameter.measureUnit}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="isEdit" class="alert-box edit-alert">
    <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>

    <div class="edit-close">
        <button class="btn btn-danger" (click)="onClose()">X</button>
    </div>
    <div class="parameters-form">
        <div class="def-parameter">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" minlength=1 maxlength=30 ngDefaultControl [(ngModel)]="product.name">
        </div>


        <div class="desc-group">
            <div class="def-parameter">
                <label for="weightUnit" class="form-label">Weight Unit</label>
                <input type="text" class="form-control" id="weightUnit" minlength=1 maxlength=150 ngDefaultControl [(ngModel)]="product.unit">
            </div>


            <div class="def-parameter">
                <label for="weight" class="form-label">Weight</label>
                <input type="number" min=0.05 max=3000 class="form-control" id="weight" ngDefaultControl [(ngModel)]="product.size">
            </div>
        </div>

        <div class="desc-group">
            <div class="def-parameter">
                <label for="homeM" class="form-label">Home measure</label>
                <input type="text" class="form-control" minlength=1 maxlength=150 id="homeM" ngDefaultControl [(ngModel)]="product.homeMeasure">
            </div>


            <div class="def-parameter">
                <label for="homeValue" class="form-label">Size</label>
                <input type="number" min=0.05 max=3000 class="form-control" id="homeValue" ngDefaultControl [(ngModel)]="product.homeMeasureSize">
            </div>
        </div>

        <div class="def-group">
            <div class="def-parameter">
                <label for="proteins" class="form-label">Proteins</label>
                <input type="number" class="form-control" id="proteins" ngDefaultControl [(ngModel)]="proteinGrams">
            </div>
            <div class="def-parameter">
                <label for="calories" class="form-label">Calories</label>
                <input type="number" class="form-control" id="calories" ngDefaultControl [(ngModel)]="calorieGrams">
            </div>
        </div>

        <form [formGroup]="selectParamForm">
            <div class="parameters-select">
                <div class="def-parameter">
                    <label for="params" class="form-label">Existing Parameters</label>
                    <input class="form-control" list="existingParameters" name="existingParameters" id="params" autocomplete="off" placeholder="Type to search..." formControlName="param">
                    <datalist id="existingParameters">
                         <option *ngFor="let p of parametersWithoutDefs" style="width:100%">{{p.name}}</option>
                    </datalist>

                </div>
                <div class="def-parameter">
                    <label for="size" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="homeValue" formControlName="size">
                </div>
                <button class="button btn add" type="button" (click)="onAdd()" [disabled]="!selectParamForm.valid">Add Parameter</button>
            </div>
            <span class="form-text" *ngIf="!selectParamForm.get('size').valid && selectParamForm.get('size').touched">Size is not provided or invalid </span>
            <span class="form-text" *ngIf="!selectParamForm.get('param').valid && selectParamForm.get('param').touched">Parameter is not provided or invalid </span>
            <span class="form-text" *ngIf="selectParamForm.get('param').dirty && selectParamForm.errors?.paramDoNotMatch">There is no such parameter yet.</span>
            <span class="form-text" *ngIf="selectParamForm.get('param').dirty && selectParamForm.errors?.paramAdded">Selected parameter was already added</span>

            <ng-template [ngIf]="isToAdd">
                <div class="nondef-params" *ngFor="let a of addedParams">
                    <div class="def-parameter">
                        <label for="pName" class="form-label">{{a.name}}</label>
                        <input type="text" class="form-control" id="pSize" disabled value="{{a.size}} ({{a.measureUnit}})">
                    </div>
                    <button type="button" class="btn btn-danger" (click)="onDelete(a)">-</button>
                </div>
            </ng-template>
        </form>
        <button (click)="onEditProduct()" class="btn btn-success">Update Product</button>

    </div>
</div>