<div class="container">
    <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>
    <h1>PATIENTS</h1>
    <form [formGroup]="searchUsersForm" class="search" (ngSubmit)="onSearch()">
        <input class="form-control" list="allpatients" name="allpatients" id="mealautocomplete" autocomplete="off" placeholder="Type to search..." formControlName="name">
        <datalist id="allpatients">
                         <option *ngFor="let p of allPatients" style="width:100%">{{p.firstName}} {{p.lastName}}</option>
                    </datalist>
        <button class="btn" [disabled]="!searchUsersForm.valid">
                  <img src="../../../assets/searchGreen.svg" alt="search">
                </button>
    </form>
    <app-patient-item *ngFor="let patient of patients; let i = index;" [index]="i" [patient]="patient"></app-patient-item>
    <div class="pag">
        <nav aria-label="...">
            <ul class="pagination pagination-xs">
                <li class="page-item" *ngFor="let p of pages; let i = index;">
                    <a class="page-link" [class.page-a]="currentPage === i+1" tabindex="-1" (click)="onGetPatients(i+1)">{{i+1}}</a>
                </li>

            </ul>
        </nav>
    </div>
</div>