<div>
    <app-doctor-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-doctor-alert>
    <form [formGroup]="addSupplForm" (ngSubmit)="onSubmit()">
        <div class="sup-container">
            <div class="sup-name">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" placeholder="Enter supplement name here" formControlName="name">
                <span class="form-text" *ngIf="!addSupplForm.get('name').valid && addSupplForm.get('name').touched"></span>
            </div>
            <div class="sup-desc">
                <label for="desc">Description</label>
                <input id="desc" type="text" class="form-control" placeholder="Enter supplement description here" formControlName="description">
                <span class="form-text" *ngIf="!addSupplForm.get('description').valid && addSupplForm.get('description').touched"></span>
            </div>
            <div>
                <button class="btn" [disabled]="!addSupplForm.valid">+</button>
            </div>
        </div>


    </form>
</div>