<div class="container">
    <h1>MEAL BASE</h1>
    <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>

    <div class="meal-header">
        <form class="search" [formGroup]="searchMealForm" class="search" (ngSubmit)="onSearch()">
            <input class="form-control" list="allmeals" name="allmeals" id="mealautocomplete" autocomplete="off" placeholder="Type to search..." formControlName="name">
            <datalist id="allmeals">
                         <option *ngFor="let p of allMeals" style="width:100%">{{p.mealName}}</option>
                    </datalist>
            <button class="btn" [disabled]="!searchMealForm.valid">
                              <img src="../../../assets/searchGreen.svg" alt="search">
                           </button>

        </form>

        <button class="btn add-meal" routerLink="../add-meals" type="button">Add New Meal</button>
    </div>
    <div class="items">
        <app-meal-item *ngFor="let meal of meals; let i = index;" [index]="i" [meal]="meal"></app-meal-item>
    </div>
    <div class="pag">
        <nav aria-label="...">
            <ul class="pagination pagination-xs">
                <li class="page-item" *ngFor="let p of pages; let i = index;">
                    <a class="page-link" [class.page-a]="currentPage === i+1" tabindex="-1" (click)="onGetMeals(i+1)">{{i+1}}</a>
                </li>

            </ul>
        </nav>
    </div>
</div>