<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container">
                <app-doctor-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-doctor-alert>
                <div class="row report">
                    <h1>Diseases History</h1>
                    <form [formGroup]="searchDisForm" class="search" (ngSubmit)="onSearch()">
                        <input type="text" class="form-control" formControlName="name" placeholder="Search disease to add">
                        <button class="btn" [disabled]="!searchDisForm.valid">+ </button>
                    </form>
                    <div class="result-disease" *ngIf="isToAdd">
                        <h2 for="name">{{disease.name}}</h2>
                        <div class="area">
                            <label for="desc" class="form-label">Description</label>
                            <textarea id="desc" class="form-control" autosize disabled>{{disease.description}}</textarea>
                        </div>
                        <div class="area"> <label for="desc" class="form-label">Recommendations</label>
                            <textarea id="desc" class="form-control" autosize disabled>{{disease.recommendation}}</textarea>
                        </div>
                        <form [formGroup]="assignDiseaseForm" (ngSubmit)="onAssignDisease()">
                            <div class="date-dis">
                                <label for="date" class="form-label">Date of Diagnosis</label>
                                <input type="date" id="date" class="form-control" formControlName="date">
                                <span class="form-text" *ngIf="!assignDiseaseForm.get('date').valid && assignDiseaseForm.get('date').touched">the date of diagnosis is not provided</span>
                                <span class="form-text" *ngIf="assignDiseaseForm.get('date').dirty && assignDiseaseForm.errors?.dateInvalid">Date of Diagnosis is later than today!</span>
                            </div>
                            <div class="date-di"> <label for="date" class="form-label">Date of Cure</label>
                                <input type="date" id="date" class="form-control" formControlName="dateOfCure">
                                <span class="form-text" *ngIf="assignDiseaseForm.get('dateOfCure').dirty && assignDiseaseForm.errors?.cureDateInvalid">Date of Cure is earlier than Date of Diagnosis!</span>
                                <span class="form-text" *ngIf="assignDiseaseForm.get('dateOfCure').dirty && assignDiseaseForm.errors?.date2Invalid">Date of Cure is later than today!</span>
                            </div>

                            <div class="buttons">
                                <button type="button" class="btn btn-danger" (click)="removeDisease()">Remove</button>
                                <button class="btn assign-button" [disabled]="!assignDiseaseForm.valid">Assign Disease</button>
                            </div>
                        </form>
                    </div>
                    <div class="history" *ngFor="let d of diseases;let i = index;">
                        <div class="disease-header">
                            <p style="color: #FEAD54; font-size: 20px; font-weight:600;">{{d.name}}</p>
                            <div class="manage-buttons">
                                <button class="btn btn-warning" type="button" (click)="toggleEdit(i)">Edit</button>
                                <button class="btn btn-danger" (click)="onDeleteDisease(d)">Delete</button>
                            </div>
                        </div>

                        <p><span style="color: #0A7B79;">Period:</span> {{d.dateOfDiagnosis.split("T")[0]}}-
                            <span *ngIf="d.dateOfCure" style="color: rgb(50, 207, 50);">{{d.dateOfCure.split("T")[0]}}</span>
                            <span *ngIf="!d.dateOfCure" style="color: red;">Present</span>
                        </p>
                        <p><span style="color: #0A7B79;">Description: </span> {{d.description}}</p>
                        <p><span style="color: #0A7B79;">Recommendations: </span> {{d.recommendation}}</p>
                        <form *ngIf="clicked===i && isEditEnabled" class="editForm" [formGroup]="editDiseaseForm" (ngSubmit)="onEditDisease(i)">
                            <div class="date-dis"> <label for="date1" class="form-label">Date of Diagnosis</label>
                                <input type="date" id="date1" class="form-control" formControlName="date">
                                <span class="form-text" *ngIf="editDiseaseForm.get('date').dirty && editDiseaseForm.errors?.dateInvalid">Date of Diagnosis is later than today!</span>
                            </div>
                            <div class="date-dis">
                                <label for="date2" class="form-label">Date of Cure</label>
                                <input type="date" id="date2" class="form-control" formControlName="dateOfCure">
                                <span class="form-text" *ngIf="editDiseaseForm.get('dateOfCure').dirty && editDiseaseForm.errors?.cureDate2Invalid">Date of Cure is earlier than Date of Diagnosis!</span>
                                <span class="form-text" *ngIf="editDiseaseForm.get('dateOfCure').dirty && editDiseaseForm.errors?.date2Invalid">Date of Cure is later than today!</span>
                            </div>
                            <button class="btn btn-success" [disabled]="!editDiseaseForm.valid">Update Disease</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>