td {
    border-bottom: 1px solid lightgrey;
    padding-top: 12px;
    padding-bottom: 12px;
}

.recs {
    color: #0A7B79;
    background-color: #D3F2E9;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 20px;
}

.recs:hover {
    background-color: #0A7B79;
    color: #F4A363;
}

.form-control {
    border: none;
}

.btn-warning {
    border-radius: 10px;
}

.name {
    font-weight: 600;
}

textarea {
    padding-left: 0;
}

.desc {
    color: #F4A363;
    font-weight: 600;
}

.rec {
    font-weight: 500;
}

input {
    padding-left: 0;
}

.name-col {
    width: 18%;
}

.edit-col {
    float: right;
    border: none;
}

.desc-col {
    width: 28%;
}

.rec-col {
    width: 45%;
}