<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container">
                <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>
                <h1>Upcoming Appointments</h1>
                <div class="results table-responsive" *ngIf="!errorDate">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of appointments">
                                <td>{{a.doctorFullName}}</td>
                                <td>{{a.date.split("T")[0]}}</td>
                                <td>{{a.timeToDisplay}}</td>
                                <td><button class="btn btn-details" (click)="onGetDetails(a)">Details</button></td>

                            </tr>
                        </tbody>
                    </table>
                    <h3 *ngIf="details" style="color:rgb(245, 152, 46);">Details</h3>
                    <div *ngIf="details" class="details">

                        <div class="elem">
                            <label for="doctor" class="form-label">Doctor</label>
                            <input type="text" class="form-control" disabled value="{{details.doctorFullName}}   {{details.email}}">
                        </div>
                        <div class="elem">
                            <label for="office" class="form-label">Office</label>
                            <input type="text" class="form-control" disabled value="{{details.office}}">
                        </div>
                        <div class="elem">
                            <label for="date" class="form-label">Date</label>
                            <input type="text" class="form-control" disabled value="{{details.date}}">
                        </div>
                        <div class="elem">
                            <label for="time" class="form-label">Time</label>
                            <input type="text" class="form-control" disabled value="{{details.time}}">
                        </div>
                        <div class="elem">
                            <label for="desc" class="form-label">Description</label>
                            <textarea autosize type="desc" class="form-control" disabled>{{details.description}}</textarea>
                        </div>

                    </div>
                </div>
                <h2 *ngIf="errorDate" style="margin-top:3%; color:rgb(245, 152, 46)">{{errorDate}}</h2>
            </div>
        </div>
    </div>
</div>