<div>
    <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>

    <form [formGroup]="addDiseaseForm" (ngSubmit)="onSubmit()">
        <div class="dis-container">
            <div class="dis">
                <label for="name">Name</label>
                <textarea rows=1 id="name" type="text" class="form-control" placeholder="Enter disease name here" formControlName="name" autosize></textarea>
                <span class="form-text" *ngIf="!addDiseaseForm.get('name').valid && addDiseaseForm.get('name').touched"></span>
            </div>
            <div class="dis">
                <label for="desc">Description</label>
                <textarea id="desc" type="text" class="form-control" placeholder="Enter disease description here" formControlName="description" rows=1 autosize></textarea>
                <span class="form-text" *ngIf="!addDiseaseForm.get('description').valid && addDiseaseForm.get('description').touched"></span>
            </div>
            <div class="dis">
                <label for="rec">Recommendations</label>
                <textarea rows=1 id="rec" type="text" class="form-control" placeholder="Enter disease recommendation here" formControlName="recommendations" autosize></textarea>
                <span class="form-text" *ngIf="!addDiseaseForm.get('recommendations').valid && addDiseaseForm.get('recommendations').touched"></span>
            </div>
            <div>
                <button class="btn" [disabled]="!addDiseaseForm.valid">+</button>
            </div>
        </div>


    </form>
</div>