.list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #0A7B79;
}

img {
    margin-right: 20px;
    height: 54px;
}

p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    width: 13%;
    margin-right: 1.2%;
}

.name-info {
    margin-top: 6px;
    display: flex;
}

p[name="dob"] {
    font-size: 14px;
    color: #FEAD54;
    font-size: 400;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-weight: 600;
    padding: 20px 16px;
    border-radius: 16px;
}

button:hover {
    transform: scale(1.1) perspective(1px);
}

button:last-child {
    margin-right: 0;
}