.list-group-item {
    border: none;
    border-bottom: 1px solid lightgrey;
}

img {
    height: 54px;
    margin-bottom: 5%;
}

p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 0;
}

.name-info {
    margin-top: 6px;
    display: flex;
}

td[name="dob"] {
    color: #FEAD54;
    font-size: 400;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-weight: 600;
    padding: 20px 16px;
    border-radius: 16px;
}

button:hover {
    transform: scale(1.1) perspective(1px);
}

button:last-child {
    margin-right: 0;
}

td {
    text-align: center;
}