<div class="patient list-group-item">
    <img src="../../../../assets/user-icon.svg" alt="user icon">
    <div class="info">
        <div class="name-info">
            <p name="firstName" ngDefaultControl [(ngModel)]="firstName">{{firstName}}</p>
            <p name="lastName" ngDefaultControl [(ngModel)]="lastName">{{lastName}}</p>
        </div>
        <p name="dateOfBirth" ngDefaultControl [(ngModel)]="dateOfBirth">{{dateOfBirth}}</p>
    </div>
    <div class="button-links">
        <button class="btn" routerLink="/doctor/patients/{{patientId}}/personal-info">Personal Info</button>
        <button class="btn">Weekly Report</button>
        <button class="btn" routerLink="/doctor/patients/{{patientId}}/measurements"> Measurements</button>
        <button class="btn">Diet History</button>
        <button class="btn">Disease History</button>
    </div>
</div>