.navbar-custom {
    background: #D3F2E9;
    box-shadow: 0px 2px 6px 0px grey;
    z-index: 3;
}

.header-custom {
    display: flex;
    justify-content: space-between;
}

.list-doctor-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-menu {
    align-items: flex-end;
    border: none;
    margin-top: 5%;
    margin-left: 5%;
    padding: 0;
}

.sub-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1px;
    height: 50px;
    border-radius: 10px;
    background-color: #0A7B79;
}

.sub-item a {
    text-align: center;
    color: white;
    font-weight: 500;
}

.sub-item:hover {
    background-color: #FEAD54;
}

.sub-a:hover {
    background-color: transparent;
}

a,
.list-doctor-header button {
    color: #0A7B79;
    font-weight: 700;
}

a:hover {
    color: #FEAD54;
}

.list-doctor-header li.active {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #0A7B79;
    border-radius: 10px;
    align-self: center;
}

.list-doctor-header li.active a:not(.sub-a) {
    color: #FEAD54;
    font-weight: 500;
}

.left .nav-brand {
    text-decoration: none;
    color: #0A7B79;
    font-weight: 700;
    font-style: italic;
    margin-right: 16%;
}

.logo a:nth-child(2):hover {
    transform: scale(1.2) perspective(1px);
}

.left {
    display: flex;
}

.logout {
    cursor: pointer;
    text-decoration: none;
}

.logout:hover {
    transform: scale(1.1) perspective(1px);
}