.list-auth ul li {
    background-color: #0A7B79;
    border: 1px solid white;
    width: 55%;
}

.list-auth li:nth-child(1) {
    border-radius: 20px 0px 0px 20px;
}

.list-auth li:nth-child(2) {
    border-radius: 0px 20px 20px 0px;
}

a:hover {
    text-decoration: none;
    color: #81e0df;
}

a {
    padding: 0.01vh 9vw;
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.list-auth ul li.active {
    background-color: #FEAD54;
}