.sticky-left-background,
.sticky-right {
    border-radius: 0;
}

.sticky-left-background {
    background-attachment: fixed;
    z-index: 1;
    overflow: scroll;
    background-size: 40%;
    background-position: 0;
}

.content {
    margin-top: 3%;
    width: 86%;
}

.apptForm {
    margin-top: 3%;
}

.date {
    width: 25%;
    margin-top: 3%;
}

.date input {
    border-radius: 10px;
}

label {
    font-weight: 600;
    font-size: 16px;
    color: #0A7B79;
}

.user label,
.desc {
    margin-top: 3%;
}

.search input {
    width: 92%;
    height: 42px;
}

.search button {
    background-color: #D3F2E9;
}

.search button:hover {
    background-color: #FEAD54;
}

.search img {
    padding-bottom: 2px;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desc textarea {
    border-radius: 20px;
}

.add {
    background-color: #0A7B79;
    color: #FEAD54;
    float: right;
    padding: 1% 3%;
    border-radius: 10px;
    margin-top: 5%;
}

.add:hover {
    transform: scale(1.1) perspective(1px);
}

.results li {
    width: 92%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

em::before {
    content: "\00a0 ";
}

.active-user {
    border: 1px solid #0A7B79;
    background-color: #D3F2E9;
    color: #FEAD54;
}

.not-active-user {
    border: none;
    background-color: transparent;
    color: black;
}