<div class="container-w-background container-fluid">
    <div class="sticky-left-background">
        <div id="content-left" class="content-left"></div>
    </div>
    <div class="sticky-right">
        <div class="content">
            <div class="container">
                <app-alert [message]="error" (close)="onHandleError()" *ngIf="error"></app-alert>
                <h1>{{nameOfMeal}}</h1>
                <h4>Ingredients</h4>
                <ul *ngFor="let p of products; let i = index" class="ingredients" style="list-style: none; padding-left: 0;">
                    <li style="color: #FEAD54; font-weight: 600; font-size: 16px; margin-bottom: 3%;">{{p.name}}: {{p.amount}} {{p.unit}}
                        <ul class="list-group" style="margin-top:1%;">
                            <li class="list-group-item" *ngFor="let finalParam of allParams[i]">{{finalParam.name}}: {{finalParam.amount * p.amount/p.size | roundNumber}} {{finalParam.measureUnit}}</li>
                        </ul>
                    </li>
                </ul>
                <div class="def-parameter desc">
                    <label for="description" class="form-label">Description/Directions</label>
                    <textarea disabled autosize class="form-control" id="description">{{description}}</textarea>
                </div>
                <div class="def-parameter">
                    <label for="url" class="form-label">Cooking URL</label>
                    <input disabled type="text" class="form-control" for="url" value="{{cookingURL}}">
                </div>
            </div>

        </div>
    </div>
</div>